<%= form_for(@exchange_datum) do |f| %>
  <% if @exchange_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchange_datum.errors.count, "error") %> prohibited this exchange_datum from being saved:</h2>

      <ul>
      <% @exchange_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :reference_currency %><br>
    <%= f.text_field :reference_currency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
