<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @exchange_datum.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @exchange_datum.price %>
</p>

<p>
  <strong>Reference currency:</strong>
  <%= @exchange_datum.reference_currency %>
</p>

<%= link_to 'Edit', edit_exchange_datum_path(@exchange_datum) %> |
<%= link_to 'Back', exchange_data_path %>
