<p id="notice"><%= notice %></p>

<p>
    Expected values:
</p>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% #TODO be careful this sums up all exchange rates in a day!!!!!%>


<%= "Historic data" %>
<%= line_chart estimates_as_hash(@prediction.neural_network.currency.exchange_rates) %>
<%= "Predicted data so far" %>
<%= line_chart estimates_as_hash(@prediction.past_estimates) %>
<%= "Future estimations" %>
<%= line_chart estimates_as_hash(@prediction.future_estimates) %>

<p>
  <strong>Average difference:</strong>
  <%= @prediction.average_difference %>
</p>
<p>
  <strong>Chi squared</strong>
  <%= @prediction.chi_squared %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
