<p id="notice"><%= notice %></p>

<p>
    Expected values:
</p>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% #TODO be careful this sums up all exchange rates in a day!!!!!%>
<%= @prediction.exchange_rates.size %>
<%= line_chart @prediction.exchange_rates.group_by_day(:date).sum(:last) %>

<p>
  <strong>Average difference:</strong>
  <%= @prediction.average_difference %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
