<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @article.summary %>
</p>

<p>
    <% @article.influences.each do |influence| %>
        <%= "The article could influence #{influence.knn.currency.full_name} to #{influence.classification}"%>
    <% end %>
</p>

<%= link_to 'Back to main page', currencies_path %> |
<%= link_to 'Back to recent articles', articles_path %>
