<div class="text-center container">
<h2>
  <%= @article.name %>
</h2>

<p>
    <strong>Source:</strong>
    <%= link_to "#{@article.url}", @article.url %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>
<br><br>

<p>
  <strong>Summary:</strong>
  <br>
  <large><%= @article.summary %></large>
</p>

<br><br><br><br>

<p class="lead">Possible influences</p>

<table class="table table-bordered table-hover">
    <tr>
      <th class="col-sm-2 text-center">Cryptocurrency</th>
      <th class="col-sm-2 text-center">Influence</th>
    </tr>
    <% @article.influences.each do |influence| %>
      <tr>
        <td><%= influence.knn.currency.full_name %></td>
        <td><%= influence.classification %></td>
      </tr>
    <% end %>
</table>


<%= link_to 'Back to recent articles', articles_path, class: "btn btn-default" %>

</div>