<text>
  You have created a portfolio.<br>
  Now, input an expected return and the we will find and display a portfolio with minimum variance.
</text><br><br>

<p>
  <strong>Start date:</strong>
  <%= @portfolio.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @portfolio.end_date %>
</p>

<p>
  <strong>Portfolio maximum return:</strong>
  <%= @portfolio.max_return %>
</p>

<div id="return_p" >
    <%=form_for @portfolio do |f| %>
          <% if @portfolio.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>
                <ul>
                  <% @portfolio.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        <%= f.label "Portfolio Return" %>
        <%= f.number_field :p_return, id:"return_number", step: "any" %>
        <%= f.submit "Obtain optimal portfolio", class: "btn btn-primary" %>
    <% end %>
</div>

<br><br>

<div id="computed_portfolio">
  <% if(@portfolio.p_return != nil && @portfolio.p_return.between?(0, @portfolio.max_return)) %>

      <% #also computes the variance, needs to be before it%>
      <% weights = @portfolio.compute_weights %>

      <strong>Optimal Variance:</strong>
      <%= @portfolio.variance %>
      <br>
      <text>Our portfolio will have the following currencies with their respective weights</text>

      <br>
      <table id="wt">
        <tr>
          <th>Currency</th>
          <th>Weight</th>
        </tr>
        <% @portfolio.currencies.each do |cr| %>
            <tr>
              <td class="full_name"><%= cr.full_name %></td>
              <td class="weight"><%= number_to_percentage(weights[cr.full_name] * 100) %></td>
            </tr>
        <% end %>
      </table>

      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <%= pie_chart weights %>
  <% end %>
</div>


<%= link_to 'Back to main page', currencies_path %>
