<text>
  You have created a portfolio.
  <br><br>
  Now, select how much return you would want for the portfolio.
  <br>
  The bigger the return, the bigger the risk!
</text>

<p>
  <strong>Start date:</strong>
  <%= @portfolio.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @portfolio.end_date %>
</p>

<p>
  <strong>Portfolio maximum return:</strong>
  <%= number_to_percentage(100 * @portfolio.max_return) %>
</p>

<div id="return_p" >
    <%=form_for @portfolio do |f| %>
          <% if @portfolio.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>
                <ul>
                  <% @portfolio.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        <%= f.label "Portfolio Return" %>
        <%= f.number_field :p_return, id:"return_number", step: "any" %>
        <%= f.submit "Obtain optimal portfolio", class: "btn btn-primary" %>
    <% end %>
</div>

<br><br>

<div id="computed_portfolio">
  <% if(@portfolio.p_return != nil && (@portfolio.p_return/100).between?(0, @portfolio.max_return)) %>

      <strong>Optimal Variance:</strong>
      <%= @portfolio.variance %>
      <br>
      <text>Our portfolio will have the following currencies with their respective weights</text>

      <br>
      <table id="wt">
        <tr>
          <th>Currency</th>
          <th>Weight</th>
        </tr>
        <% @portfolio.currencies.each do |cr| %>
            <tr>
              <td class="full_name"><%= cr.full_name %></td>
              <td class="weight"><%= number_to_percentage(@portfolio.weights[cr.full_name].to_f * 100) %></td>
            </tr>
        <% end %>
      </table>

      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <% if(@portfolio.weights.values.all? {|w| w.to_f > 0})%>
        <%= pie_chart @portfolio.weights %>
      <% end %>
      <%= column_chart @portfolio.weights %>

      <br><br>
      <text>
        Find out more about each individual currency.
      </text>
  <% end %>
</div>


<%= link_to 'Back to main page', currencies_path %>
