<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currency.full_name %>
</p>

<br><text>
  See how financial models have done in estimating the past values of cryptocurrencies.
</text><br>

<%=form_for @currency do |f| %>
    <%= f.label "Financial predictions" %>
    <%= f.hidden_field :prediction_type, value: :capm%>
    <%= f.submit "Apply financial models", class: "btn btn-primary" %>
<% end %>


<br><text>
  Get future predictions using machine learning.
</text><br>

<%=form_for @currency do |f| %>
    <%= f.label "Machine Learning future predictions" %>
    <div id="select_days" >
    <%= f.select(:prediction_days, options_for_select(1..30)) %>
    </div>
    <%= f.hidden_field :prediction_type, value: :neural_network%>
    <%= f.submit "Predict", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to main page', currencies_path %>
