<div class="text-center container">

<h2>
  <%= @currency.full_name %>
</h2>

<br><br><br>

<p class="lead">
  Want to know if the currency is a stable investment?
  <br>
  See how the currency is connected with other currencies, markets and assets!
</p>

<%=form_for @currency do |f| %>
    <%= f.hidden_field :prediction_type, value: :capm%>
    <%= f.submit "Apply financial models", class: "btn btn-primary" %>
<% end %>


<br><br><br><br><br>

<p class="lead">
  See how the currency's price will evolve!
</p>

<%=form_for @currency do |f| %>
    <%= f.hidden_field :prediction_type, value: :neural_network%>
    <%= f.submit "Machine Learning future predictions", class: "btn btn-primary" %>
<% end %>

</div>
